header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 36px;
}

header img {
    max-width: 100%;
    height: auto;
}

body{
    font-family:  Arial, Helvetica, sans-serif;
    margin: 2em;
    background-image: url("images/2.jpg");
    background-size: cover;
}

h1{
    font-style: italic;
    color: #373fff;
}

p{
    /*font-style: italic;*/
    font-style: inherit;
    color: hsl(193, 86%, 51%);
}
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

.galeria li {
    flex-basis: calc(25% - 20px);
    margin: 10px;
    position: relative;
}

.galeria img {
    display: block;
}

title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2em 0 1em 0;
    padding: 0.5em 1em;
    color: aquamarine;
    text-align: left;
    border: 2px solid #ccc;
    background: linear-gradient(to right, #0099ff, #66ccff);
    display: inline-block;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

ul li{
    list-style: none;
    text-decoration: none;
    margin: 10px;
    padding: 10;
}

ul li#galeria1{
    display: flex;
    opacity: 2;
    position:relative;
    padding: 10px;
    background: aqua; 
}

ul li#galeria2{
    display: flex;
    opacity: 2;
    position:relative;
    padding: 10px;
    background: blue; 
}

ul li#galeria3{
    display: flex;
    opacity: 2;
    position:relative;
    padding: 10px;
    background: purple; 
}

ul li#galeria4{
    display: flex;
    opacity: 2;
    position:relative;
    padding: 10px;
    background: greenyellow; 
}

img {
    width: 20%;
    height: 20%;
    margin: 0;
    padding: 0;
}